.products--grid {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.product-detail {
  position: fixed;
  top: -20px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }

  .container {
    display: inline-block;
  }
  .img-product-detail {
    width: 45px;
    z-index: 1;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    display: block;
    top: 25px;
  }
  .closes-side-produc-detail {
    border: 0;
    background: transparent;
  }
}
.product-description {
  margin-left: 10px;
  left: 50%;
  font-weight: bolder;
}

.description-prodduct {
  margin-left: 10px;
}
.slider {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
  display: block;
  z-index: 0;
}
.shop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #ed3237;
  border-color: #ed3237;
  width: 110px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 100px;
  height: 30px;
}
//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

//web
@media screen and (min-width: 64em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

  .product-detail {
    position: fixed;
    top: -10px;
    left: 65%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out 0.5s;
    transform: translateX(100%);
    &.active {
      transform: translateX(-90%);
    }
  }
}
