<button (click)="createNewProduct()"> create </button>
<div class="products--grid">
  <app-products [product]="products" *ngFor="let products of product" (addedProduct)="onAddToshopingCart($event)"
    (showProduct)="onShowDetail($event)"></app-products>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div class="container" *ngIf="productChosen">
    <button class="closes-side-produc-detail" (click)="toggleProductDetail()">
      <img class="img-product-detail" src="./assets/svg/icons8-close.svg" alt="menu" />
    </button>
    <swiper class="slider" [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="" />
      </ng-template>
    </swiper>
    <h1 class="product-description">
      {{ productChosen.price | currency : "Cop $" }} <br />
      {{ productChosen.title }}
    </h1>
    <p class="description-prodduct">{{ productChosen.description }}</p>
    <button class="shop" (click)="onAddToshopingCart(productChosen)"> Buy </button>
    <button class="shop" (click)="updateProduct()">edit</button>
    <button class="shop" (click)="deleteProduct()">delete</button>
  </div>
</div>