p, h2 {
  margin: 0;
}
.add-cart {
  border: none;
  background: none;
  display: flex;
  margin: 15px;
}

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#principal {
  width: 75%;
}
#sidebar {
  width: 25%;
}
.cop{
  font-weight:  bolder;
}
